
<div  [hidden]="submitted">
  Form Values Diagnosis:&nbsp;{{diagnostic}}
  <div class="container">
    <h1>Form</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #studentForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required field.
        </div>
      </div>

      <div class="form-group">
        <label>Gender</label>
        <form  #myForm="ngForm" action="">
          <div>
            <span class="gender-parent">
              <input type="radio" [(ngModel)]="model.gender"  name="gender" value="male" #gender="ngModel" required>
              <span class="element-padding">Male</span>
            </span>
            <span class="gender-parent">
              <input type="radio" [(ngModel)]="model.gender"  name="gender" value="female" #gender="ngModel" required>
              <span class="element-padding">Female</span>
            </span>
          </div>
        </form>
        <div [hidden]="!gender.hasError('required')" class="alert alert-danger">
          Gender is required field.
        </div>
      </div>

      <div class="form-group" *ngIf="model.gender == 'male'">
        <label for="abc">ABC</label>
        <input type="text" class="form-control" id="abc" required [(ngModel)]="model.abc" name="abc" #abc="ngModel">
        <div [hidden]="abc.valid || abc.pristine" class="alert alert-danger">
          ABC is required field.
        </div>
      </div>

      <div class="form-group"  *ngIf="model.gender == 'female'">
        <label for="xyz">XYZ</label>
        <input type="text" class="form-control" id="xyz" required [(ngModel)]="model.xyz" name="xyz" #xyz="ngModel">
        <div [hidden]="xyz.valid || xyz.pristine" class="alert alert-danger">
          XYZ is required field.
        </div>
      </div>

      <div class="form-group">
        <label for="dob">DOB</label>
        <input type="date" [(ngModel)]="model.dob" id="dob" name="dob" #field="ngModel" date required>
        <div [hidden]="!field.hasError('required')" class="alert alert-danger">
          DOB is required.
        </div>
      </div>

      <div class="form-group">
        <label for="hobbies">Hobbies :</label>
        <div *ngFor="let hobby of hobbies" id="hobbies">
          <span>
            <input type="checkbox" [(ngModel)]="hobby.selected" name="hobbies" value="hobby.value"
              (change)="updateCheckedHobbies(hobbies)"/>
            <span class="element-padding">{{hobby.name}}</span>
          </span>
        </div>
        <div [hidden]="checked" class="alert alert-danger">
          At least one hobby is required.
        </div>
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" id="state" required [(ngModel)]="model.state" name="state">
        <option *ngFor="let state of states" [value]="state">
          {{state}}
        </option>
      </select>
      </div>

      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>
</div>
<div [hidden]="!submitted">
  <h2>Thanks for submitting your details.</h2>
  <div class="row">
    <div class="col-xs-3">Name:</div>
    <div class="col-xs-9  pull-left">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Gender:</div>
    <div class="col-xs-9  pull-left">{{ model.gender }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">DOB:</div>
    <div class="col-xs-9  pull-left">{{ model.dob }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Hobbies:</div>
    <div class="col-xs-9  pull-left">
    <span *ngFor="let h of model.hobby">
      <span *ngIf="h.selected == true">
        {{ h.name }}
      </span>
    </span>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-3">State:</div>
    <div class="col-xs-9 pull-left">{{ model.state }}</div>
  </div>
  <br>
  <button class="btn btn-danger" (click)="submitted=false">Edit</button>
</div>
